@use "partials/base";
@use "partials/colors" as *;

body {
  background-color: $bg-color;
  color: $dark;
}

header {
  height: 4rem;
  width: 60vw;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  img {
    height: 100%;
    width: auto;
    transform: scale(2.2);
  }

  nav {
    ul {
      display: flex;

      li {
        margin-left: 1rem;
      }

      .big {
        color: $bg-color;
        background-color: $medium;
        border-radius: 0.8em;
        padding: 0.5rem 1rem;
      }

      a {
        text-decoration: none;
        color: $medium;
        font-size: 1.2rem;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}
