@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f9f7f7;
  color: #112d4e;
  font-family: "Montserrat", sans-serif;
}

.scrolled {
  background: #dbe2ef;
}

.hidden {
  display: none !important;
}

header {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
}
header nav {
  height: 4rem;
  width: 60vw;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
header nav .mobile-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 20vh;
  background: #dbe2ef;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 1rem 0;
  border-top: 1px solid #112d4e;
}
header nav .mobile-menu a {
  color: #3f72af;
  text-decoration: none;
  font-size: 1.8rem;
}
header nav .hamburger {
  font-size: 3rem;
  cursor: pointer;
  color: #3f72af;
  user-select: none;
  display: none;
}
header nav img {
  height: 100%;
  width: auto;
  transform: scale(2.2);
  margin-left: 2.5rem;
}
header nav .menu {
  display: flex;
}
header nav .menu li {
  margin-left: 1rem;
}
header nav .menu .btn {
  color: #f9f7f7;
  background-color: #3f72af;
  border-radius: 0.8em;
  padding: 0.5rem 1rem;
}
header nav .menu .btn:hover {
  background-color: #112d4e;
  color: #f9f7f7;
}
header nav .menu a {
  text-decoration: none;
  color: #3f72af;
  font-size: 1.2rem;
}
header nav .menu a:hover {
  color: #112d4e;
}

#hero {
  width: 60vw;
  margin: 0 auto;
  margin-top: 10rem;
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#hero > * {
  margin-top: 1rem;
}
#hero h1 {
  font-size: 3rem;
  font-weight: bold;
}
#hero h3 {
  font-size: 1.2rem;
}
#hero a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f9f7f7;
  background-color: #3f72af;
  border-radius: 0.8em;
  padding: 1rem 1.5rem;
}
#hero a:hover {
  background-color: #112d4e;
}

#showcase {
  width: 60vw;
  margin: 5rem auto;
}
#showcase img {
  object-fit: cover;
  width: 100%;
}

#about .benefits {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100vw;
}
#about .benefits .container {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#about .benefits .container .card {
  margin: 5rem 1.2rem;
}
#about .benefits .container .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 0;
}
#about .benefits .container .card p {
  line-height: 1.5rem;
}
#about .testimonials {
  width: 60vw;
  margin: 3rem auto;
}
#about .testimonials h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
#about .testimonials blockquote {
  width: 80%;
  margin: 4rem auto;
}
#about .testimonials blockquote h3 {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 600;
}
#about .testimonials blockquote footer {
  margin: 1rem 0;
  font-weight: 300;
}
#about .video {
  width: 100%;
  height: 515px;
  margin: 0 auto;
}

#pricing {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100vw;
}
#pricing > * {
  display: block;
  margin: 0 auto;
  width: 60vw;
}
#pricing h1 {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 600;
}
#pricing .radio {
  background: #666;
  width: 55vw;
  border: 1px #666 solid;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 4rem;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}
#pricing .radio .labl {
  padding: 0.5rem;
  background: #fff;
  display: block;
}
#pricing .radio .labl:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
#pricing .radio .labl:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
#pricing .radio .labl > input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}
#pricing .radio .labl > input + div {
  /* DIV STYLES */
  cursor: pointer;
  border: 2px solid transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
}
#pricing .radio .labl > input + div h3 {
  font-weight: bold;
  font-size: 1.8rem;
  display: inline-flex;
}
#pricing .radio .labl > input + div h3 span {
  font-size: 0.8rem;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  background: #3f72af;
  color: #f9f7f7;
  margin-left: 1rem;
}
#pricing .radio .labl > input + div h5 {
  font-weight: 300;
  font-size: 1.2rem;
}
#pricing .radio .labl > input + div p {
  font-weight: 700;
  font-size: 1.2rem;
}
#pricing .radio .labl > input:checked + div {
  /* (RADIO CHECKED) DIV STYLES */
  background-color: #dbe2ef;
  border: 1px solid #112d4e;
  border-radius: 1rem;
}
#pricing .email {
  width: 20vw;
  margin: 2rem auto;
  font-size: 1.2rem;
  text-align: center;
}
#pricing .email label {
  font-weight: 700;
}
#pricing .email input {
  font-size: 1.2rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid #112d4e;
}

form > button {
  margin: 0 auto;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  background: #3f72af;
  color: #f9f7f7;
  border-radius: 0.8rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  border: none;
}
form > button:hover {
  background: #112d4e;
}

#footer {
  color: #888;
  text-align: center;
  padding: 5rem 0;
}

@media only screen and (max-width: 1200px) {
  #showcase,
#hero,
.nav-bar {
    width: 90vw;
  }

  #about .benefits .container {
    width: 90vw;
  }
  #about .video {
    width: 100%;
    height: 40vw;
  }
}
@media only screen and (max-width: 800px) {
  #about .container {
    flex-direction: column;
    width: 80vw;
  }

  #pricing .radio {
    grid-template-columns: 1fr;
    height: auto;
  }
  #pricing .email {
    width: 100%;
    margin: 2rem auto;
  }

  .labl:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .labl:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  header .nav-bar .menu {
    display: none;
  }
  header .nav-bar .hamburger {
    display: block;
  }

  #hero h1 {
    font-size: 2.5rem;
  }
  #hero h3 {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
