@use "partials/base";
@use "partials/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");

body {
  background-color: $bg-color;
  color: $dark;
  font-family: "Montserrat", sans-serif;
}

header {
  height: 4rem;
  width: 60vw;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  img {
    height: 100%;
    width: auto;
    transform: scale(2.2);
  }

  nav {
    ul {
      display: flex;

      li {
        margin-left: 1rem;
      }

      .btn {
        color: $bg-color;
        background-color: $medium;
        border-radius: 0.8em;
        padding: 0.5rem 1rem;

        &:hover {
          background-color: $dark;
          color: $bg-color;
        }
      }

      a {
        text-decoration: none;
        color: $medium;
        font-size: 1.2rem;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}

#hero {
  width: 60vw;
  margin: 0 auto;
  margin-top: 6rem;
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: $bg-color;
    background-color: $medium;
    border-radius: 0.8em;
    padding: 1rem 1.5rem;

    &:hover {
      background-color: $dark;
    }
  }
}

#showcase {
  width: 60vw;
  margin: 5rem auto;

  img {
    object-fit: cover;
    width: 100%;
  }
}
